# Shared defaults
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=messageex
POSTGRES_PASSWORD=messageex
POSTGRES_DB=messageex

REDIS_HOST=localhost
REDIS_PORT=6379

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY=messageex
S3_SECRET_KEY=messageex123
S3_BUCKET=messageex
